html,
body {
    background-color: black;
    padding: 0;
    margin: 0;
}

main {
    font-family: monospace;
    font-size: xx-large;
    margin-top: 10vh;
    color: white;
}

.issue,
.prompt {
    justify-content: center;
    align-items: center;
    display: flex;
}